[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "vvauditor"]
	path = vvauditor
	url = https://github.com/cran/vvauditor
[submodule "vvsculptor"]
	path = vvsculptor
	url = https://github.com/cran/vvsculptor
