[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "vvauditor"]
	path = vvauditor
	url = https://github.com/cran/vvauditor
[submodule "vvconverter"]
	path = vvconverter
	url = https://github.com/cran/vvconverter
[submodule "vvmover"]
	path = vvmover
	url = https://github.com/cran/vvmover
[submodule "vvsculptor"]
	path = vvsculptor
	url = https://github.com/cran/vvsculptor
